
.carousel-item img {
  object-fit: contain; 
  width: 100%; 
  height: 100%; 
  border-radius: 15px; 
  transition: all 0.3s ease; 
}


@media (max-width: 768px) {

  #bannerCarousel {
    height: 200px; 
    margin: 20px; 
  }

  .carousel-item img {
    height: 100%; 
    border-radius: 10px; 
  }
}


#bannerCarousel {
  max-width: 80%; 
  margin: 20px auto; 
  border-radius: 20px; 
  overflow: hidden; 
  height: 300px; 
}


.carousel-inner {
  padding: 0 10px; 
}


.carousel-control-prev, 
.carousel-control-next {
  z-index: 10; 
}
